#cloud-config
hostname: {{ vm.hostname }}
fqdn: {{ vm.fqdn }}
manage_etc_hosts: false

users:
  - name: ansible
    groups: [wheel]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - {{ lookup('file', playbook_dir + '/keys/demokey.pub') }}

  - name: demo
    groups: [wheel]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - {{ lookup('file', playbook_dir + '/keys/demokey.pub') }}

growpart:
  mode: auto
  devices: ['/']

resize_rootfs: true
ssh_pwauth: false

runcmd:
  - touch /etc/cloud/cloud-init.disabled
